@import "../../../variables.scss";

.wrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: $first-color;
  margin: 0 0 30px 0;
}

.changePWBtnContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
