<section class="wrapper">
  <div class="card">
    <a href="#"><img class="arrowBackIcon" src="../../../assets/img/arrow_back.svg" alt="arrow back icon"></a>
    <h1>Passwort <br>Zurücksetzen</h1>
    <div class="inputContainerAuth" appFocusInput>
      <input class="inputFieldAuth" type="password" placeholder="Neues Passwort" required [(ngModel)]="inputValue">
    </div>
    <div class="inputContainerAuth" appFocusInput>
      <input class="inputFieldAuth" type="password" placeholder="Neues Passwort bestätigen" required [(ngModel)]="inputValue2">
    </div>
    <div class="changePWBtnContainer">
      <button class="firstBtn" (click)="handleSubmit()" [disabled]="!inputValuesMatch()">Passwort ändern</button>
    </div>
  </div>
  <app-bubble></app-bubble>
</section>
