<section class="wrapper">
  <div class="card">
    <a href="#"><img class="arrowBackIcon" src="../../../assets/img/arrow_back.svg" alt="arrow back icon"></a>
    <h1>Passwort <br>Zurücksetzen</h1>
    <div class="inputContainer">
      <input type="text" placeholder="Neues Passwort" required>
    </div>
    <div class="inputContainer">
      <input type="text" placeholder="Neues Passwort bestätigen" required>
    </div>
    <div class="changePWBtnContainer">
      <button class="changePWBtn">Passwort ändern</button>
    </div>
  </div>
</section>
