<div [ngClass]="ownMessage ? 'fdRowRev' : ''" class="wrapper"
  (mouseenter)="this.messengerType != 'threadTopicMessage' ? this.showOptions = true : ''"
  (mouseleave)="this.messengerType != 'threadTopicMessage' ? this.showOptions = false : ''">
  <ng-container *ngIf="senderAvatar && message.senderID">
    <img class="avatar" (click)="openProfileDialog()" [src]="senderAvatar" alt="Avatar" />
  </ng-container>
  <div class="text" [ngClass]="ownMessage ? 'alignFlexEnd' : ''">
    <div [ngClass]="ownMessage ? 'fdRowRev' : ''" class="nameAndTime">
      <ng-container *ngIf="senderName && message.senderID">
        <span (click)="openProfileDialog()" class="name overflowEllipsis">{{ senderName }}</span>
      </ng-container>
      <span class="time subText">{{ messageTimestampAsNumber | date: 'HH:mm' }}</span>
      <app-options-bubble *ngIf="showOptions"
        (editMessage)="onEditMessageChange($event)"
        (emojiSelected)="addReaction($event)"
        (senderInfoRequested)="loadSenderInfo($event)"
        [messengerType]="messengerType"
        [message]="message"
        [ownMessage]="ownMessage"
        [ngClass]="
          messengerType === 'thread'
            ? (ownMessage ? 'threadOptionsBubbleOwnMsg' : 'threadOptionsBubble')
            : (ownMessage ? 'optionsBubbleOwnMsg' : 'optionsBubble')
        ">
      </app-options-bubble>
    </div>
    <div [ngClass]="ownMessage ? 'messageTextOwnMsg' : 'messageText'">
      <div *ngIf="message.attachments && message.attachments.length > 0" class="fileContainer">
        <div class="filePreviewContainer">
          <div *ngFor="let attachment of message.attachments; trackBy: trackByIndex" class="fileItem">
            <a [href]="attachment" download target="_blank" matTooltip="Click to download">
              <img [src]="isPdf(attachment) ? 'assets/img/pdf-icon.png' : attachment" alt="file preview"
                [ngClass]="{
                  filePreview: !isPdf(attachment),
                  pdfIcon: isPdf(attachment),
                  multipleFiles: message.attachments.length > 1
                }" />
            </a>
            <div *ngIf="isPdf(attachment)" class="fileName" [title]="getFileName(attachment)">
              {{ getShortenedFileName(attachment) }}
            </div>
          </div>
        </div>
      </div>
      <span *ngIf="message.content && !editMessage">{{ message.content }}</span>

      <div *ngIf="editMessage">
        <textarea #editMsgTxtArea [(ngModel)]="messageContentSnapshot" class="editMsgTxtArea"></textarea>
        <div class="saveOrDiscardBtns">
          <span (click)="discardChanges()" class="subText">Verwerfen</span>
          <span (click)="saveChanges()" class="subText">Speichern</span>
        </div>
      </div>
    </div>
    <div *ngIf="message.reactions && message.reactions.length > 0" class="reactionsArea">
      <div class="reactions">
        <div *ngFor="let reaction of message.reactions" class="reactionContainer"
          (mouseenter)="loadUserNamesForReaction(reaction.users)"
          (mouseleave)="hoveredReactionUsers = []"
          (click)="reaction.users.includes(activeUserID || '') ? removeReaction(reaction.emoji) : null">
          <span>{{ reaction.emoji }}</span>
          <span class="reactionsCount">{{ reaction.count }}</span>
          <div class="reactionTooltip" *ngIf="hoveredReactionUsers.length > 0">
            {{ hoveredReactionUsers.join(', ') }}
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isChannel && message.threadLength > 0" class="responses">
      <span (click)="navigateToThread()" class="count">{{ message.threadLength }} Antworten</span>
      <span class="time subText">Letzte Antwort {{ messageLastAnswerAsNumber | date: 'HH:mm' }}</span>
    </div>
  </div>
</div>
