<div [ngClass]="ownMessage ? 'fdRowRev' : ''" class="wrapper"
  (mouseenter)="this.messengerType != 'threadTopicMessage' ? this.showOptions = true : ''"
  (mouseleave)="this.messengerType != 'threadTopicMessage' ? this.showOptions = false : ''">
  <img class="avatar" (click)="openProfileDialog()" [src]="senderAvatar" />

  <div class="text" [ngClass]="ownMessage ? 'alignFlexEnd' : ''">
    <div [ngClass]="ownMessage ? 'fdRowRev' : ''" class="nameAndTime">
      <span (click)="openProfileDialog()" class="name">{{ senderName }}</span>
      <span class="time subText">{{ this.messageTimestampAsNumber | date: 'HH:mm' }}</span>
      <!-- | date: 'HH:mm' -->

      <!-- Options-Bubble -->
      <app-options-bubble *ngIf="showOptions" (editMessage)="onEditMessageChange($event)"
        (emojiSelected)="addReaction($event)" [messengerType]="messengerType" [message]="message"
        [ownMessage]="ownMessage" [ngClass]="ownMessage ? 'optionsBubbleOwnMsg' : 'optionsBubble'">
      </app-options-bubble>
    </div>

    <div [ngClass]="ownMessage ? 'messageTextOwnMsg' : 'messageText'">
      <!-- Anhänge -->
      <div *ngIf="message.attachments && message.attachments.length > 0" class="fileContainer">
        <div class="filePreviewContainer">
          @for(attachment of this.message.attachments; track attachment) {
          <div (click)="openFullscreenPreview(attachment)"><img [src]="attachment" alt="img file preview" [ngClass]="{
                filePreview: true,
                multipleFiles: message.attachments.length > 1
              }" class="filePreview" />
          </div>
          }
        </div>
      </div>

      <!-- Nachrichteninhalt -->
      <span *ngIf="message.content && !editMessage">{{ message.content }}</span>

      <!-- Nachricht bearbeiten -->
      <div *ngIf="editMessage">
        <textarea #editMsgTxtArea [(ngModel)]="messageContentSnapshot" class="editMsgTxtArea"></textarea>
        <div class="saveOrDiscardBtns">
          <span (click)="discardChanges()" class="subText">Verwerfen</span>
          <span (click)="saveChanges()" class="subText">Speichern</span>
        </div>
      </div>
    </div>

    <!-- Reaktionen -->
    <div *ngIf="message.reactions && message.reactions.length > 0" class="reactionsArea">
      <div class="reactions">
        <div *ngFor="let reaction of message.reactions" class="reactionContainer">
          <span>{{ reaction.emoji }}</span>
          <span class="reactionsCount">{{ reaction.count }}</span>
        </div>
      </div>
    </div>

    <!-- Antworten -->
    <div *ngIf="isChannel && message.threadLength > 0" class="responses">
      <span (click)="navigateToThread()" class="count">{{ message.threadLength }} Antworten</span>
      <span class="time subText">Letzte Antwort {{ message.lastAnswer }}</span>
    </div>
  </div>
</div>