@import "../../../../variables.scss";

.wrapper {
  padding: 8px 32px;
  display: flex;
  gap: 16px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nameAndTime {
  display: flex;
  align-items: center;
  gap: 16px;
}

.name {
  font-weight: bold;
}

.time {
  color: $text-grey;
}

.messageText {
  background-color: $background-color;
  border-radius: 0 30px 30px 30px;
  padding: 15px;
}

.reactions {
  display: flex;
  gap: 8px;
}

.reactionContainer {
  padding: 4px 10px;
  border: 1px solid $outlines;
  background-color: white;
  gap: 8px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 20px;
    width: 20px;
  }
}

.responses {
  display: flex;
  align-items: center;
  gap: 8px;

  .count {
    color: $first-color;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    &:hover {
      cursor: pointer;
      background-color: $background-color;

      .messageText {
        background-color: white;
      }
    }
  }

  .count {
    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
