<section>
    <div class="content">
      <app-sub-header [isChannel]="true"></app-sub-header>
      <div class="messagesContent">
        @if(this.activeChannelService.channelMessages && this.activeChannelService.channelMessages.length > 0) {
        @for(message of this.activeChannelService.channelMessages; track message) {
          @if(message.senderID == this.activeUserService.activeUser.userID) {
            <app-message [message]="message" [isChannel]="true" [ownMessage]="true"></app-message>
          } @else {
            <app-message [message]="message" [isChannel]="true" [ownMessage]="false"></app-message>
          }
          }
        }
        <app-date-divider></app-date-divider>
      </div>
    </div>
    <app-type-input-field [messengerType]="'channels'"></app-type-input-field>
  </section>
