<div class="channelDialogContainer">
    <div class="dialogHeader channelHeader">
        <h2># Entwicklerteam</h2>
        <img src="../../../assets/img/close.svg" alt="Schließen">
    </div>

    <div class="dialogWrapperBig">
        <div class="channelContentWrapper">
            <div class="channelNameContainer">
                <h3>Channel-Name</h3>
                <img src="../../../assets/img/pen.svg" alt="">
            </div>
            <span># Entwicklerteam</span>
        </div>


        <div class="channelContentWrapper">
            <div class="channelNameContainer">
                <h3>Beschreibung</h3>
                <img src="../../../assets/img/pen.svg" alt="">
            </div>

            <span>
                Dieser Channel ist für alles rund um #dsfdf vorgesehen. Hier kannst du zusammen mit deinem Team
                Meetings abhalten, Dokumente teilen und Entscheidungen treffen.
            </span>

            <div class="divider"></div>

            <div class="channelNameContainer">
                <h3>Erstellt von</h3>
            </div>

            <div >
                <a class="channelCreator" href="">Noah Braun</a>
            </div>
        </div>


        <div class="channelContentWrapper">

            <div class="channelNameContainer">
                <h3>Mitglieder</h3>
                <img src="../../../assets/img/pen.svg" alt="">
            </div>

            <div class="memberList">
                <div class="member">
                    <img src="../../../assets/img/dummyAvatar.svg" alt="Schließen">
                    <p>Frederik Beck</p>
                </div>

                <div class="member">
                    <img src="../../../assets/img/dummyAvatarFem.svg" alt="Schließen">
                    <p>Sofia Müller</p>
                </div>
            </div>

            <div class="addMemberContainer">
                <img src="../../../assets/img/person_add.svg" alt="Person hinzufügen">
                <p>Mitglieder hinzufügen</p>
            </div>
        </div>


        <div class="btnWrapper">
            <button class="dialogBtn">Channel verlassen</button>
        </div>
    </div>
</div>