<div class="channelDialogContainer">
    <div class="dialogHeader channelHeader">
        <h2># Entwicklerteam</h2>
        <img src="../../../assets/img/close.svg" alt="Schließen">
    </div>

    <div class="dialogWrapperBig">

        <div class="channelContentWrapper" [class.no-outline]="isEditingName">
            <div class="channelNameContainer">
                <h3>Channel-Name</h3>
                @if (mobile == true) {
                <div>
                    <img [src]="isEditingName ? '../../../assets/img/check_circle.svg' : '../../../assets/img/pen.svg'"
                        alt="" (click)="toggleEdit()">
                </div>

                } @else {
                <div>
                    <span class="coloredText" (click)="toggleEdit()">Bearbeiten</span>
                </div>
                }
            </div>

            @if (!isEditingName == true) {
            <div>
                <span (click)="toggleEdit()" class="trigger">
                    # {{ channelName }}
                </span>
            </div>
            }

            @if (isEditingName == true) {
            <div class="inputContainer">
                <input #channelNameInput class="input" type="text" [(ngModel)]="channelName" (blur)="toggleEdit()">
            </div>}
        </div>






        <div class="channelContentWrapper" [class.no-outline]="isEditingDescription">
            <div class="channelNameContainer">
                <h3>Beschreibung</h3>

                @if (mobile == true) {
                <div>
                    <img [src]="isEditingDescription ? '../../../assets/img/check_circle.svg' : '../../../assets/img/pen.svg'"
                        alt="" (click)="toggleEditDescription()">
                </div>

                } @else {
                <div>
                    <span class="coloredText" (click)="toggleEditDescription()">Bearbeiten</span>
                </div>
                }
            </div>

            @if (!isEditingDescription == true) {
            <div>
                <span (click)="toggleEditDescription()" class="trigger">
                    {{ channelDescription }}
                </span>
            </div>
            } @else if (isEditingDescription == true) {
            <div class="inputContainer">
                <!-- <input #channelDescriptionInput class="input" type="text" [(ngModel)]="channelDescription" (blur)="toggleEditDescription()"> -->
                <textarea #channelDescriptionInput rows="1" class="input" type="text" [(ngModel)]="channelDescription" (blur)="toggleEditDescription()"></textarea>
            </div>
            }

            <div class="divider"></div>

            <div class="channelNameContainer">
                <h3>Erstellt von</h3>
            </div>

            <div>
                <a class="coloredText" href="">Noah Braun</a>
            </div>
        </div>


        @if (mobile == true) {
        <div class="channelContentWrapper">

            <div class="channelNameContainer">
                <h3>Mitglieder</h3>
                <img src="../../../assets/img/pen.svg" alt="">
            </div>

            <div class="memberList">
                <div class="member">
                    <img src="../../../assets/img/dummyAvatar.svg" alt="Schließen">
                    <p>Frederik Beck</p>
                </div>

                <div class="member">
                    <img src="../../../assets/img/dummyAvatarFem.svg" alt="Schließen">
                    <p>Sofia Müller</p>
                </div>
            </div>

            <div class="addMemberContainer">
                <img src="../../../assets/img/person_add.svg" alt="Person hinzufügen">
                <p>Mitglieder hinzufügen</p>
            </div>
        </div>
        }


        <div class="btnWrapper">
            <button class="dialogBtn">Channel verlassen</button>
        </div>
    </div>
</div>