<div class="dialogContainer roundedDialog">
    <div class="dialogWrapper">
        <div class="dialogHeader">
            <h2>Mitglieder</h2>
            <img src="../../../assets/img/close.svg" alt="Schließen">
        </div>

        <div class="memberList">
            <div class="member">
                <img src="../../../assets/img/dummyAvatar.svg" alt="Schließen">
                <p>Frederik Beck</p>
            </div>

            <div class="member">
                <img src="../../../assets/img/dummyAvatarFem.svg" alt="Schließen">
                <p>Sofia Müller</p>
            </div>
        </div>

        <div class="addMemberContainer">
            <img src="../../../assets/img/person_add.svg" alt="Person hinzufügen">
            <p>Mitglieder hinzufügen</p>
        </div>
    </div>
</div>