<form action="reset-password.php" method="POST">
  <section class="wrapper">
    <div class="card">
      <a [routerLink]="['/authentication/login']"><img class="arrowBackIcon" src="../../../assets/img/arrow_back.svg"
          alt="arrow back icon"></a>
      <h1>Passwort Zurücksetzen</h1>
      <span class="infoText">Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
      <div class="inputContainerAuth">
        <img class="iconGrayAuth" src="../../../assets/img/mail.svg" alt="mail icon">
        <img class="iconBlackAuth" src="../../../assets/img/mail-black.svg" alt="mail icon">
        <input class="inputFieldAuth" type="email" placeholder="beispielname@email.com" required
          [(ngModel)]="inputValue">
      </div>
      <span class="infoTextGray">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
      <div class="sendMailBtnContainer">
        <button class="firstBtn" [disabled]="!inputValue">E-Mail senden</button>
      </div>
    </div>
  </section>
</form>
