<section class="wrapper">
  <div class="card">
    <a [routerLink]="['/authentication/login']"><img class="arrowBackIcon" src="../../../assets/img/arrow_back.svg" alt="arrow back icon"></a>
    <h1>Konto erstellen</h1>
    <span class="infoText">Mit deinem Namen und deriner E-Mail-<br>Adresse hast du dein neues DABubble-Konto.</span>
    <div class="inputContainer">
      <img class="iconGray" src="../../../assets/img/person_filled.svg" alt="person icon">
      <img class="iconBlack" src="../../../assets/img/person_filled-black.svg" alt="person icon">
      <input class="inputField" type="text" placeholder="Name und Nachname" required>
    </div>
    <div class="inputContainer">
      <img class="iconGray" src="../../../assets/img/mail.svg" alt="mail icon">
      <img class="iconBlack" src="../../../assets/img/mail-black.svg" alt="mail icon">
      <input class="inputField" type="email" placeholder="beispielname@email.com" required>
    </div>
    <div class="inputContainer">
      <img class="iconGray" src="../../../assets/img/lock.png" alt="lock icon">
      <img class="iconBlack" src="../../../assets/img/lock-black.svg" alt="lock icon">
      <input class="inputField" type="text" placeholder="Passwort" required>
    </div>
    <div class="nextBtnContainer">
      <button class="firstBtn" [routerLink]="['/authentication/createAccount']">Weiter</button>
    </div>

  </div>
</section>
