@import "../../../variables.scss";

.wrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.arrowBackIcon {
  left: 10px;
  cursor: pointer;
}

h1 {
  color: $first-color;
  margin: 0 0 30px 0;
  text-align: center;
}

.infoText {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 30px 0;
}

.inputContainerAuth {
  width: 100%;
}

@media (min-width: 420px) {
  .arrowBackIcon {
    left: 20px;
  }
}
