@import "../../../variables.scss";
@import "../../../app/shared/dialogs/dialog.component.scss";

.inputContainer {
  align-items: flex-start;
  gap: 10px;

  .radioField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    a {
      color: $second-color;
    }
  }
}

.roundedDialog {
  border-radius: 20px;
  width: 710px;
}
