<div class="dialogContainer" [ngClass]="{'swipeDialog': mobile, 'roundedDialog': !mobile}">
    <div class="dialogWrapper">

        <div class="swipeHandleContainer">
            <div class="swipeHandle"></div>
        </div>


        <div class="dialogHeader">
            <h2>Leute hinzufügen</h2>
            <img src="../../../assets/img/close.svg" alt="Schließen">
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" autocomplete="off" #contactForm="ngForm">
            <div class="inputContainer">

                <div class="radioField">
                    <input type="radio" id="allMemberRadio" name="memberType" value="allMember" ngModel checked>
                    <label for="allMemberRadio">
                        Alle Mitglieder von <a href="#">OfficeTeam</a> hinzufügen
                    </label>
                </div>

                <div class="radioField">
                    <input type="radio" id="specificMemberRadio" name="memberType" value="specificMember" ngModel>
                    <label for="specificMemberRadio">
                        Bestimmte Leute hinzufügen
                    </label>
                </div>
            </div>

            <div class="btnWrapper">
                <button type="submit" class="firstBtn">
                    Erstellen
                </button>
            </div>
        </form>

    </div>
</div>