@import "../../../variables.scss";
@import "../../../app/shared/dialogs/dialog.component.scss";

:host {
  display: block;
  background: none;
  border-radius: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  animation: slide-from-bottom 0.3s ease-in-out;
}

.floatingMemberList {
  top: unset;
  bottom: 92px;
  left: 31px;
  border-radius: 30px 30px 30px 0;
}

.inputContainer {
  align-items: flex-start;
  gap: 10px;
  width: 100%;

  .radioField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    input {
      cursor: pointer;
    }

    label {
      cursor: pointer;
    }

    a {
      color: $second-color;
    }
  }
}

.input {
  width: 100%;
}

.roundedDialog {
  border-radius: 20px;
  width: 710px;
}

@media screen and (min-width: 1025px) {
  :host {
    position: unset;
  }

  .floatingMemberList {
    bottom: -211px;
    left: 31px;
    border-radius: 0 30px 30px 30px;
  }

  .profileDialogContainer {
    width: 500px;
  }

  .swipeHandleContainer {
    display: none;
  }
}
