.toggleMenuButton {
    display: none;
    padding: 0 32px;
    border-radius: 0 0 30px 30px;
    width: 350px;
    height: 60px;
    position: fixed;
    bottom: 260px;
    left: -150px;
    transform: rotate(-90deg);
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 2px rgba($color: #000000, $alpha: 0.2);
    background-color: white;
    cursor: pointer;

    img {
        width: 32px;
        height: 32px;
        transform: rotate(90deg);
        transition: 225ms all;
    }

    h3 {
        flex: 1;
        text-align: center;
    }
}

@media(min-width: 1025px) {
    .toggleMenuButton {
        display: flex;
    }
}