@import '../../../variables.scss';

header {
    height: 80px;
    background-color: $background-color;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    height: 46px;
    cursor: pointer;
}

.nameAndProfileContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profileAndOnlineCircleImg {
    position: relative;
    height: 50px;
}

.avatarImg {
    width: 50px;
    border-radius: 100%;
}

.onlineStatusImg {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.name {
    display: none;
}

.arrowDown {
    display: none;
}

.inputContainer {
    justify-content: center;
    padding: 24px 0;
    flex: 1;
    display: none;

    input {
        border: none;
        outline: none;
        border-radius: 42px;
        width: 100%;
        max-width: 70%;
        height: 40px;
        padding: 8px 24px;
        font-size: 16px;
        background-image: url(../../../assets/img/search-glass-icon.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 24px);
        background-size: 20px;
    }
}

@media(min-width: 1025px) {
    .inputContainer {
        display: flex;
    }

    .name {
        display: block;
    }

    .arrowDown {
        display: block;
    }

    .inputContainer {
        padding: 0;

        input {
            height: 50px;
        }
    }

    .nameAndProfileContainer {
        &:hover {
            color: $second-color;
            cursor: pointer;
        }
    }
}