<header>
    <img class="logo" src="../../../assets/img/logo-plus-text.svg" alt="main-logo">
    <div class="inputContainer dNone">
        <input placeholder="Gehe zu..." type="text">
    </div>
    <div class="nameAndProfileContainer">
        <span class="dNone">Robin Westmeier</span>
        <img class="profileImg" src="../../../assets/img/avatars/empty-profile.svg" alt="profile-image">
        <img class="dNone" src="../../../assets/img/keyboard_arrow_down.svg" alt="arrow-down-icon">
    </div>
</header>