<section>
    <div class="content">
      <app-sub-header [isThread]="true"></app-sub-header>
      <div class="messagesContent">
        <app-message [isChannel]="false"></app-message>
        <div class="divider">
            <span class="subText">2 Antworten</span>
            <div class="line"></div>
        </div>
        <app-own-message [isChannel]="false"></app-own-message>
        <app-message [isChannel]="false"></app-message>
      </div>
    </div>
    <app-type-input-field></app-type-input-field>
  </section>
