<section>
    <div class="content">
      <app-sub-header [isThread]="true"></app-sub-header>
      <div class="messagesContent">
        <!-- <app-message [isChannel]="false"></app-message> -->
         <h1>Placeholder Thread Message</h1>
        <div class="divider">
            <span class="subText">2 Antworten</span>
            <div class="line"></div>
        </div>
        <app-own-message [isChannel]="false"></app-own-message>
        @if(this.activeChannelService.channelMessages && this.activeChannelService.channelMessages.length > 0) {
        @for(message of this.activeChannelService.channelMessages; track message) {
          <app-message [message]="message" [isChannel]="true"></app-message>
          }
        }
      </div>
    </div>
    <app-type-input-field [messengerType]="'thread'"></app-type-input-field>
  </section>
  