<section>
  <div class="content">
    <app-sub-header [isThread]="true"></app-sub-header>
    <div class="messagesContent">
      @if(this.activeThreadService.activeThreadMessage &&
      this.activeThreadService.activeThreadMessage.senderID) {
      <app-message [messengerType]="'threadTopicMessage'" [isChannel]="false"
        [message]="this.activeThreadService.activeThreadMessage" [ownMessage]="
          this.activeUserService.activeUser.userID ===
          this.activeThreadService.activeThreadMessage.senderID
            ? true
            : false
        "></app-message>
      }
      <div class="divider">
        @if(this.activeThreadService.activeThreadMessage &&
        this.activeThreadService.activeThreadMessage.threadLength) {
        <span class="subText">{{ this.activeThreadService.activeThreadMessage.threadLength }} Antworten</span>
        } @else {
        <span class="subText">jetzt Antworten</span>
        }
        <div class="line"></div>
      </div>
      @if(this.activeThreadService.threadMessages &&
      this.activeThreadService.threadMessages.length > 0) { @for(message of
      this.activeThreadService.threadMessages; track message) {
      <app-message [messengerType]="'thread'" [ownMessage]="
          this.activeUserService.activeUser.userID === message.senderID
            ? true
            : false
        " [message]="message" [isChannel]="false"></app-message>
      } }
    </div>
  </div>
  <app-type-input-field [messengerType]="'thread'"></app-type-input-field>
</section>