.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.94);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

.previewImageFullScreen {
  object-fit: contain;
  max-width: 75%;
  max-height: 75%;
  border-radius: 16px;
}

.downloadAndCloseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  p {
    color: rgb(167, 167, 167);
    font-size: 20px;
  }
}

.actionSpan {
  cursor: pointer;
  color: rgb(167, 167, 167);
  font-size: 20px;
  &:hover {
    color: white;
  }
}
