.dialogContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  .dialogWrapper {
    padding: 8% 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
  }