.dialogContainer {
  background-color: rgb(255, 255, 255);
  padding: 25px 20px;
}

.roundedDialog {
  width: 280px;
  border-radius: 20px 0 20px 20px;
  box-shadow: 0px 6px 10px 0px #00000033;
}

.swipeDialog {
  // width: 280px;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -3px 10px 0px #00000033;
}

.swipeHandleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipeHandle {
  cursor: grab;
  width: 62px;
  height: 6px;
  border-radius: 23px;
  background-color: $light-grey;
}

.dialogWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialogWrapperBig {
  padding: 8% 6%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: scroll;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  img {
    padding: 4px;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      background-color: $background-color;
    }
  }
}

.searchUserContainer {
  position: relative;
}

.floatingMemberList{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 300px;
  max-height: 220px;
  border-radius:0 30px 30px 30px;
  border: 2px solid $outlines;
  background-color: white;
  overflow-y: scroll;
}

.memberList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1% 4%;
  max-height: 220px;
  overflow-y: scroll;

  :active {
    background-color: $background-color;
    border-radius: 100px;
  }
}

.member {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 16px;
  cursor: pointer;
  padding: 4px 20px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .removeUserIcon {
    width: 24px;
    height: 24px;
  }
}

.addMemberContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 20px 0 20px;
  cursor: pointer;

  div {
    display: flex;
    align-items: center;
    gap: 20px;

    svg {
      background-color: $background-color;
      border-radius: 100%;
    }
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coloredText {
  color: $first-color;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  border: none;
  outline: 1px solid $outlines;
  border-radius: 30px;
  padding: 10px 20px;
  color: #686868;
  &:focus {
    outline: 1px solid $first-color;
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.dialogBtn {
  border: unset;
  background-color: $first-color;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
}

.editSVG {
  &:hover {
    background-color: $background-color;
    border-radius: 100px;
    cursor: pointer;
    
    path {
      fill: $first-color;
    }
  }
}

.hover {
  &:hover {
    background-color: $background-color;
    border-radius: 100px;
    color: $second-color;

    svg path {
      fill: $first-color;
    }
  }
}

.active {
  &:active {
    background-color: $background-color;
    border-radius: 100px;
    color: $second-color;

    svg path {
      fill: $second-color;
    }
  }
}

// @media (hover: hover) and (pointer: fine) {
//   .addMemberContainer:hover {
//     background-color: $background-color;
//     border-radius: 100px;
//     color: $second-color;

//     svg path {
//       fill: $second-color;
//     }
//   }
// }

@media screen and (min-width: 400px) {
  .roundedDialog {
    width: 360px;
  }

  // .swipeDialog {
  //   width: 360px;
  // }

  .profileDialogContainer {
    width: 360px;
  }
}

@media screen and (min-width: 500px) {
  .roundedDialog {
    width: 400px;
  }

  // .swipeDialog {
  //   width: 430px;
  // }

  .profileDialogContainer {
    width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .profileDialogContainer {
    width: 500px;
  }

  .swipeHandleContainer {
    display: none;
  }

  .dialogContainer {
    padding: 35px 30px;
  }
}
