@import "../../../variables.scss";
@import "../../../app/shared/dialogs/dialog.component.scss";

.createChannelContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}