<div class="createChannelContainer" [@dialogAnimationFadeIn]>
    <div class="dialogWrapperBig">

        <div class="dialogHeader">
            <h2>Channel erstellen</h2>
            <img src="../../../assets/img/close.svg" alt="Schließen" (click)="dialogRef.close()">
        </div>

        <span>
            Channel dienen deinem Team zur Kommunikation.
            Am besten sollten sie themenbezogen sein - #marketing zum Beispiel.
        </span>

        <form #contactForm="ngForm" (ngSubmit)="contactForm.form.valid && onSubmit()" autocomplete="off">
            <div class="formWrapper">
              <div class="h3Container">
                <h3>Channel-Name</h3>
              </div>
              <div class="inputContainer" [class.invalid]="!name.valid && name.touched">
                <input
                  class="input"
                  #name="ngModel"
                  [(ngModel)]="createdChannel.name"
                  type="text"
                  id="name"
                  name="name"
                  placeholder="z.B. Kooperationsprojekte"
                  required
                  minlength="3"
                  autocomplete="new-password"
                />
                <span *ngIf="name.errors?.['required'] && contactForm.submitted" class="errorMessage">Bitte Namen eingeben.</span>
                <span *ngIf="name.errors?.['minlength'] && contactForm.submitted" class="errorMessage">
                    Der Name muss mindestens 3 Zeichen haben.
                </span>
              </div>
          
              <div class="h3Container">
                <h3>Beschreibung</h3>
              </div>
              <div class="inputContainer" [class.invalid]="!description.valid && description.touched">
                <input
                  class="input"
                  #description="ngModel"
                  [(ngModel)]="createdChannel.description"
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Dein Text hier"
                  required
                  minlength="10"
                  autocomplete="new-password"
                />
                <span *ngIf="description.errors?.['required'] && contactForm.submitted" class="errorMessage">Bitte Beschreibung eingeben.</span>
                <span *ngIf="description.errors?.['minlength'] && contactForm.submitted" class="errorMessage">
                    Die Beschreibung muss mindestens 10 Zeichen haben.
                </span>
            </div>
          
              <div class="btnWrapper">
                <button type="submit" class="dialogBtn" [disabled]="!name.valid && !description.valid && !contactForm.valid">Erstellen</button>
              </div>
            </div>
          </form>
          
        
        <!-- <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">
            <div class="formWrapper">

                <div class="h3Container">
                    <h3>Channel-Name</h3>
                </div>
                <div class="inputContainer" [class.invalid]="!name.valid && name.touched">
                    <input class="input" #name="ngModel" [(ngModel)]="createdChannel.name"
                        [ngModelOptions]="{standalone: true}" type="text" id="name" name="name"
                        placeholder="z.B. Kooperationsprojekte" required autocomplete="new-password" />
                    <span *ngIf="!name.valid && name.touched" class="errorMessage">Bitte Namen eingeben.</span>
                </div>

                <div class="h3Container">
                    <h3>Beschreibung</h3>
                </div>
                <div class="inputContainer" [class.invalid]="!description.valid && description.touched">
                    <input class="input" #description="ngModel" [(ngModel)]="createdChannel.description"
                        [ngModelOptions]="{standalone: true}" type="text" id="description" name="description"
                        placeholder="Dein Text hier" required autocomplete="new-password" />
                    <span *ngIf="!description.valid && description.touched" class="errorMessage">Bitte Beschreibung
                        eingeben.</span>
                </div>

                <div class="btnWrapper">
                    <button class="dialogBtn" [disabled]="!contactForm.valid">Erstellen</button>
                </div>

            </div>
        </form> -->

        <!-- <form (ngSubmit)="onSubmit(contactForm)" autocomplete="off" #contactForm="ngForm">
            <div class="formWrapper">
                <div class="h3Container">
                    <h3>Channel-Name</h3>
                </div>

                <div class="inputContainer" [class.invalid]="!name.valid && name.touched">
                    <input class="input" #name="ngModel" [(ngModel)]="newChannel.name" [ngModelOptions]="{standalone: true}" type="text" id="name"
                        name="name" placeholder="z.B. Kooperationsprojekte" required autocomplete="new-password" />
                    @if (!name.valid && name.touched) {
                    <span class="errorMessage">Bitte Namen eingeben.</span>
                    }
                </div>

                <div class="h3Container">
                    <h3>Beschreibung</h3>
                </div>

                <div class="inputContainer" [class.invalid]="!name.valid && name.touched">
                    <input class="input" type="text" id="description"
                    description="description" placeholder="Dein Text hier" required autocomplete="new-password" />
                </div>

                <div class="btnWrapper">
                    <button class="dialogBtn">Erstellen</button>
                </div>
            </div>
        </form> -->
    </div>
</div>