@import "../../../../variables.scss";

.wrapper {
  background-color: white;
  padding: 8px;
  z-index: 99;
}

.uploadContainer {
  display: block; /* Standardmäßiges Verhalten, wenn sichtbar */
}

.uploadPreviewContainer{
  position: relative;
  display: inline-block;
}

.uploadPreview {
  max-width: 400px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  padding: 6px;
  transition: filter 0.3s ease;
  &:hover {
    filter: brightness(50%);
    cursor: pointer;
  }
}

.closeBtn{
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 100%;
  &:hover{
    filter: brightness(70%);
    cursor: pointer;
  }
}

.hidden {
  display: none; /* Versteckt das Element */
}

.emojiPicker {
  position: absolute;
  bottom: 148px;
  left: 24px;
  z-index: 100;
}

.textArea {
  border: 1px solid $outlines;
  border-radius: 20px;
  padding: 16px 16px 8px 16px;
  min-height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  textArea {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;

    &:focus {
      border: none;
    }
  }

  .btnArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftSide {
    display: flex;
    align-items: center;
    gap: 4px;

    .svgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 100%;
    }
  }

  .divider {
    height: 40px;
    width: 1px;
    background-color: $background-color;
  }

  .svgContainerSendIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    padding: 24px;
  }

  .leftSide {
    .svgContainer {
      &:hover {
        cursor: pointer;
        background-color: $background-color;

        svg path {
          fill: $first-color;
        }
      }
    }
  }

  .svgContainerSendIcon {
    &:hover {
      cursor: pointer;

      svg path {
        fill: $second-color;
      }
    }
  }
}
