@import "../../../variables.scss";

.wrapper {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1Top {
  color: $first-color;
  margin: 0 0 20px 0;
  text-align: center;
}

.h1Name {
  color: black;
  margin: 0 0 16px 0;
}

.chooseAvatarContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.infoText {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.infoTextUpload {
  font-size: 20px;
  font-weight: 400;
}

.profileIcon {
  width: 160px; /* Setze die Breite des Bildes */
  height: 160px; /* Setze die Höhe des Bildes */
  margin: 0 0 20px 0;
  border-radius: 100%;
  border: 8px solid white;
  object-fit: cover; /* Stellt sicher, dass das Bild das Element ohne Verzerrung füllt */

  &:hover {
    border: 8px solid #e6e6e6;
  }
}

.profileImgContainer {
  display: flex;
  gap: 8px;
  margin: 0 0 20px 0;
  cursor: pointer;
}

.profileImg {
  width: 48px;
  border-radius: 100%;
  &:hover{
    transform: scale(1.1) ;
  }
}

.uploadContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin: 0 0 20px 0;
}

.thirdBtn {
  background-color: white;
  &:hover {
    background-color: RGB(68, 77, 242);
  }
}

@media (max-width: 390px) {
  .profileImgContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .arrowBackIcon {
    left: 8px;
  }
}
