<section class="wrapper">
  <div class="card">
    <a href="#"><img class="arrowBackIcon" src="../../../assets/img/arrow_back.svg" alt="arrow back icon"></a>
    <h1>Wähle deinen Avatar</h1>
    <img src="" alt="Profile Icon">
    <h1 class="h1Name">Frederick Beck</h1>
    <span class="infoText"></span>
    <div>
      <img src="" alt="Profile Icon Small">
      <img src="" alt="Profile Icon Small">
      <img src="" alt="Profile Icon Small">
      <img src="" alt="Profile Icon Small">
      <img src="" alt="Profile Icon Small">
      <img src="" alt="Profile Icon Small">
    </div>
    <div>
      <span class="infoText">Or you can</span>
      <button class="createAccBtn">Upload foto</button>
    </div>
    <div class="nextBtnContainer">
      <button class="nextBtn">Weiter</button>
    </div>
  </div>
</section>
