<div class="wrapper">
    <img src="../../../../assets/img/avatars/avatar-1.svg">

    <div class="text">
        <div class="nameAndTime">
            <span class="name">Noah Braun</span>
            <span class="time subText">14:25 Uhr</span>
        </div>

        <div class="messageText">
            <span>Welche Version ist aktuell von Angular?</span>
        </div>

        <div class="responses">
            <span (click)="this.threadService.openThread(); this.toggleMobileComService.showThreadCom()" class="count">2 Antworten</span>
            <span class="time subText">Letzte Antwort 14:56</span>
        </div>
    </div>
</div>

