<div class="wrapper">
    <img src="../../../../assets/img/avatars/avatar-1.svg">

    <div class="text">
        <div class="nameAndTime">
            <span class="name">Noah Braun</span>
            <span class="time subText">14:25 Uhr</span>
        </div>

        <div class="messageText">
            <span>Welche Version ist aktuell von Angular?</span>
        </div>

        <div class="reactionsArea">
            <div class="reactions">
                <div class="reactionContainer">
                    <img src="../../../../assets/img/close.svg">
                    <span class="count">1</span>
                </div>
                <div class="reactionContainer">
                    <img src="../../../../assets/img/google-icon.svg">
                    <span class="count">2</span>
                </div>
            </div>
        </div>

        @if(this.isChannel) {
            <div class="responses">
                <span (click)="this.toggleMobileComService.showThreadCom()" class="count">2 Antworten</span>
                <span class="time subText">Letzte Antwort 14:56</span>
            </div>
            }
            
    </div>
</div>

