<div class="dialogContainer swipeDialog">
    <div class="dialogWrapper">

        <div class="swipeHandleContainer">
            <div class="swipeHandle"></div>
        </div>

        <div class="dialogContent">
            <a class="menuLink">
                <img src="../../../assets/img/account_circle.svg" alt="">
                <span>Profil</span>
            </a>

            <a class="menuLink">
                <img src="../../../assets/img/logout.svg" alt="">
                <span>Log out</span>
            </a>
        </div>


    </div>
</div>