@import "../../../variables.scss";
@import "../../../app/shared/dialogs/dialog.component.scss";

.dialogContent {
    display: flex;
    flex-direction: column;
    // gap: 20px;
}

.menuLink {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;

    svg {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }

    span {
        font-weight: 600;
        font-size: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .roundedDialog {
      width: 282px;
      height: 181px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  