@import "../../../variables.scss";
@import "../../../app/shared/dialogs/dialog.component.scss";

:host {
  display: block;
  background: none;
  border-radius: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  animation: slide-from-bottom  0.6s ease-in-out;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  // gap: 20px;
}

.menuLink {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  cursor: pointer;

  svg {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }

  span {
    font-weight: 600;
    font-size: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .roundedDialog {
    //   width: 282px;
    //   height: 181px;
    width: 260px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  :host {
    display: block;
    background: none;
    border-radius: 30px;
    position: fixed;
    top: 70px;
    right: 30px;
    animation: slide-from-right  0.5s ease-out;
    width: 260px;
  }
}
