<section>
  <div class="wrapper contentLimit">
    <app-header></app-header>
    <div class="bodyArea">
      <app-navigation [ngClass]="this.navOpenDesktop ? 'show' : 'hide'"></app-navigation>
      <div class="routerContainer">
        <router-outlet></router-outlet>
      </div>
      <div [ngClass]="this.threadRoutingService.threadOpenDesktop ? 'show' : 'hide'" class="threadRouterContainer">
        <router-outlet name="thread"></router-outlet>
      </div>
    </div>
  </div>
  <app-nav-toggle-btn [menuOpen]="navOpenDesktop" (click)="toggleMenu()"></app-nav-toggle-btn>
</section>


<!-- 
header
/body
router-outlet
/


-->
