@import "../../variables.scss";

section {
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bodyArea {
  display: flex;
  gap: 16px;
  height: calc(100vh - 80px);
}

app-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 898;
}

app-navigation {
  width: 100%;
  transform-origin: left;
}

.routerContainer {
  width: 100%;
}

.threadRouterContainer {
  width: 100%;
}

.getOverContent {
  position: fixed;
  top: 80px;
  right: 16px;
  bottom: 16px;
  filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.1))
    drop-shadow(-15px 0px 15px rgba(0, 0, 0, 0.08))
    drop-shadow(-20px 0px 20px rgba(0, 0, 0, 0.05))
    drop-shadow(-25px 0px 25px rgba(0, 0, 0, 0.03));
  z-index: 995;
}

app-thread {
  width: 100%;
}

app-nav-toggle-btn {
  z-index: 999;
  display: none;
}

@keyframes showNav {
  from {
    opacity: 0;
    width: 0px;
    transform: scale(0.8);
    visibility: hidden;
  }
  to {
    opacity: 1;
    width: 350px;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes hideNav {
  0% {
    opacity: 1;
    width: 350px;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    width: 0;
    transform: scale(0.8);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: scale(0.8) translateX(600px);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
    visibility: visible;
  }
}

@keyframes slideToRight {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
    visibility: visible;
  }
  99% {
    opacity: 1;
    transform: scale(1) translateX(0);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: scale(0.8) translateX(600px);
    visibility: hidden;
  }
}

@media (min-width: 1025px) {
  .bodyArea {
    height: calc(100vh - 80px);
    padding-bottom: 16px;
  }

  app-navigation {
    width: 350px;
  }

  .routerContainer {
    flex: 1;
    display: block;
  }

  .threadRouterContainer {
    width: 350px;
    display: block;
  }

  app-thread {
    width: 350px;
    display: block;
  }

  app-nav-toggle-btn {
    display: block;
  }
}
