@import '../../variables.scss';

section {
    background-color: $background-color;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bodyArea {
    display: flex;
    gap: 16px;
    height: calc(100vh - 80px);
}

app-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 898;
}

app-navigation {
    width: 100%;
}

.routerContainer {
    width: 100%;
    display: none;
}

.threadRouterContainer {
    width: 100%;
    display: none;
}

// app-thread {
//     width: 100%;
//     display: none;
// }

app-nav-toggle-btn {
    z-index: 999;
    display: none;
}

.showComponentOnMobile {
    display: block !important;
    z-index: 899;
}

@keyframes slideFromLeft {
    0% {
        transform: translateY(100%);
        width: 0px;
        display: none;
    }
    
    100% {
        transform: translateY(0);
        display: block;
        width: 350px;
    }
}

@keyframes slideAway {
    0% {
        transform: translateY(0);
        width: 350px;
        display: block;
    }
    
    100% {
        transform: translateY(100%);
        width: 0;
        display: none;
    }
}

@media(min-width: 1025px) {
    .bodyArea {
        margin: 0 16px;
        height: calc(100vh - 80px);
        padding-bottom: 16px;
    }

    app-navigation {
        width: 350px;
    }

    .routerContainer {
        flex: 1;
        display: block;
    }

    .threadRouterContainer {
        width: 350px;
        display: block;
    }

    app-thread {
        width: 350px;
        display: block;
    }

    app-nav-toggle-btn {
        display: block;
    }

    .show {
        transition: 350ms all ease-in-out !important;
        animation: slideFromLeft 350ms ease-in-out;
        animation-fill-mode: forwards;
    }
    
    .hide {
        transition: 350ms all ease-in-out !important;
        animation: slideAway 350ms ease-in-out;
        animation-fill-mode: forwards;
    }
}