<div class="profileDialogContainer">
    <div class="dialogWrapper">

        <div class="dialogHeader">
            <h2>Profil</h2>
            <img src="../../../assets/img/close.svg" alt="Schließen">
        </div>

        <div class="profileContainer">

            <div class="imgContainer">
                <img class="profileImg" src="../../../assets/img/avatars/avatar-1.svg" alt="">
            </div>

            <div class="nameContainer">
                <h1>Frederik Beck</h1>
                <!-- <img src="../../../assets/img/pen.svg" alt=""> Nur bei eigenem Profil-->
            </div>

            <div class="statusContainer">
                <img src="../../../assets/img/green-online-circle.svg" alt="">
                <p class="status">Aktiv</p>
            </div>

            <div class="emailContainer">
                <div class="emailWrapper">
                    <img src="../../../assets/img/mail-black.svg" alt="">
                    <p>E-Mail-Adresse</p>
                </div>
                <p class="emailAddress">F.Beck&#64;email.com</p>
            </div>

            <div class="messageBtnWrapper">
                <button class="messageBtn">
                    <img src="../../../assets/img/mode_comment.svg" alt="">Nachricht
                </button>
            </div>
        </div>

    </div>
</div>