<section class="wrapper">
  <div class="card">
    <h1>Anmeldung</h1>
    <span class="infoText">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    <div class="inputContainer">
      <img class="iconGray" src="../../../assets/img/mail.svg" alt="mail icon">
      <img class="iconBlack" src="../../../assets/img/mail-black.svg" alt="mail icon">
      <input class="inputField" type="email" placeholder="beispielname@email.com"
        required>
    </div>
    <div class="inputContainer">
      <img class="iconGray" src="../../../assets/img/lock.svg" alt="lock icon">
      <img class="iconBlack" src="../../../assets/img/lock-black.svg" alt="lock icon">
      <input class="inputField" type="text" placeholder="Passwort" required>
    </div>
    <a class="lostPW" [routerLink]="['/authentication/sendResetPWMail']">Passwort vergessen?</a>
    <div class="seperaterContainer">
      <div class="seperater"></div>
      <span>ODER</span>
      <div class="seperater"></div>
    </div>
    <button class="googleBtn">
      <img src="../../../assets/img/google-icon.svg" alt="google icon">Anmelden mit Google
    </button>
    <div>
      <button class="firstBtn">Anmelden</button>
      <button class="secondBtn">Gäste-Login</button>
    </div>
  </div>

  <span class="newSpan">Neu bei DABubble?</span>
  <button [routerLink]="['/authentication/signUp']" class="thirdBtn">Konto erstellen</button>
</section>
