<section class="wrapper">
  <div class="card">
    <h1>Anmeldung</h1>
    <span class="infoText">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    <div class="inputContainerAuth">
      <img class="iconGrayAuth" src="../../../assets/img/mail.svg" alt="mail icon">
      <img class="iconBlackAuth" src="../../../assets/img/mail-black.svg" alt="mail icon">
      <input class="inputFieldAuth" type="email" placeholder="beispielname@email.com" required>
    </div>
    <div class="inputContainerAuth">
      <img class="iconGrayAuth" src="../../../assets/img/lock.svg" alt="lock icon">
      <img class="iconBlackAuth" src="../../../assets/img/lock-black.svg" alt="lock icon">
      <input class="inputFieldAuth" type="text" placeholder="Passwort" required>
    </div>
    <a class="lostPW" [routerLink]="['/authentication/sendResetPWMail']">Passwort vergessen?</a>
    <div class="seperaterContainer">
      <div class="seperater"></div>
      <span>ODER</span>
      <div class="seperater"></div>
    </div>
    <button class="googleBtn">
      <img src="../../../assets/img/google-icon.svg" alt="google icon">Anmelden mit Google
    </button>
    <div class="btnContainer">
      <button class="firstBtn">Anmelden</button>
      <button class="secondBtn">Gäste-Login</button>
    </div>
  </div>
  <div class="newMemberContainer">
    <span class="newMemberSpan">Neu bei DABubble?</span>
    <a class="newMemberLink" href="">Konto erstellen</a>
    <button [routerLink]="['/authentication/signUp']" class="thirdBtn">Konto erstellen</button>
  </div>
  <div class="legalContainer">
    <a class="imprint" href="">Impressum</a>
    <a class="privacy" href="">Datenschutz</a>
  </div>

</section>
