<section class="wrapper">
  <div class="card">
    <h1>Anmeldung</h1>
    <span class="infoText">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
    <div class="inputContainer">
      <img src="../../../assets/img/mail-black.svg" alt="mail icon"><input type="email" placeholder="beispielname@email.com"
        required>
    </div>
    <div class="inputContainer">
      <img src="../../../assets/img/lock-black.svg" alt="lock icon"><input type="text" placeholder="Passwort" required>
    </div>
    <a class="lostPW" href="#">Passwort vergessen?</a>
    <div class="seperaterContainer">
      <div class="seperater"></div>
      <span>ODER</span>
      <div class="seperater"></div>
    </div>
    <button class="googleBtn">
      <img src="../../../assets/img/google-icon.svg" alt="google icon">Anmelden mit Google
    </button>
    <div>
      <button class="signInBtn">Anmelden</button>
      <button class="guestSignInBtn">Gäste-Login</button>
    </div>
  </div>

  <span class="newSpan">Neu bei DABubble?</span>
  <button class="createAccBtn">Konto erstellen</button>
</section>
