<section>
    <div class="content">
      <app-sub-header [isDM]="true"></app-sub-header>
      <div class="messagesContent">
        <app-date-divider></app-date-divider>
        @if(this.activeDirectMessageService.dmMessages && this.activeDirectMessageService.dmMessages.length > 0) {
          @for(message of this.activeDirectMessageService.dmMessages; track message) {
            <app-message [message]="message" [isChannel]="false"></app-message>
            }
          }
      </div>
    </div>
    <app-type-input-field [messengerType]="'directMessages'"></app-type-input-field>
  </section>
