<section>
    <div class="content">
      <app-sub-header [isDM]="true"></app-sub-header>
      <div class="messagesContent">
        <app-date-divider></app-date-divider>
        <app-own-message [isChannel]="false"></app-own-message>
        @if(this.activeChannelService.channelMessages && this.activeChannelService.channelMessages.length > 0) {
          @for(message of this.activeChannelService.channelMessages; track message) {
            <app-message [message]="message" [isChannel]="false"></app-message>
            }
          }
      </div>
    </div>
    <app-type-input-field [messengerType]="'directMessages'"></app-type-input-field>
  </section>
