<section>
  <div class="content">
    <app-sub-header [isDM]="true"></app-sub-header>
    <div class="messagesContent">
      @if(this.activeDirectMessageService.dmMessagesGroupedByDate &&
      this.activeDirectMessageService.dmMessagesGroupedByDate.length > 0 &&
      this.activeUserService.activeUser?.userID) {
      @for(messageGroup of this.activeDirectMessageService.dmMessagesGroupedByDate; track messageGroup) {
      @for(message of messageGroup.messages; track message) {
      <app-message [messengerType]="'directMessages'" [ownMessage]="
          this.activeUserService.activeUser.userID === message.senderID
          ? true
          : false
          " [message]="message" [isChannel]="false"></app-message>
      }
      <app-date-divider [date]="messageGroup.date"></app-date-divider>
      }
      }
    </div>
  </div>
  <app-type-input-field [messengerType]="'directMessages'"></app-type-input-field>
</section>