<div class="dialogContainer" [ngClass]="{'swipeDialog': mobile, 'roundedDialog': !mobile}">
    <div class="dialogWrapper">

        <div class="swipeHandleContainer">
            <div class="swipeHandle"></div>
        </div>

        <div class="dialogHeader">
            <h2>Leute hinzufügen</h2>
            <img (click)="dialogRef.close()" src="../../../assets/img/close.svg" alt="Schließen">
        </div>

        <div class="coloredText" [ngClass]="{'dNone': mobile}">
            # Entwicklerteam
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" autocomplete="off" #contactForm="ngForm">
            <div class="inputContainer" [class.invalid]="!name.valid && name.touched">
                <input class="input" #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                    placeholder="Name eingeben" required autocomplete="new-password" />
                @if (!name.valid && name.touched) {
                <span class="errorMessage subText">Bitte gib einen Namen ein.</span>
                }
            </div>

            <div class="btnWrapper">
                <button class="firstBtn">Hinzufügen</button>
            </div>

        </form>
    </div>
</div>