<nav>
    <div class="wrapper">
    <div class="inputContainer">
        <input placeholder="Gehe zu..." type="text">
    </div>

    <div class="desktopHeaderContainer">
        <div class="logoAndText">
            <img src="../../../assets/img/workspace_logo.svg">
            <h3>DevSpace</h3>
        </div>
        <div (mouseenter)="changeImageEditSquare(true)" (mouseleave)="changeImageEditSquare(false)" class="editSquareContainer"><img class="editBtn" [src]="this.imageSrcEditSquare"></div>
    </div>

    <div class="areaContainer mt88">
        <div class="channelsHeader">
            <div class="dropDownAndH3">
                <img class="dropDownArrow" src="../../../assets/img/arrow_drop_down_down.svg" alt="drop-down-arrow">
                <div class="iconAndH3">
                    <img src="../../../assets/img/channel-list-icon.svg" alt="channel-list-icon">
                    <h3>Channels</h3>
                </div>
            </div>
            <img (mouseenter)="changeImagePlus(true)" (mouseleave)="changeImagePlus(false)" class="addChannelBtn" [src]="this.imageSrcPlusIcon" alt="add-channel">
        </div>
        <div class="contentList">
            <a href="#">
                <img src="../../../assets/img/hashtag-icon.svg" alt="hashtag-icon">
                <span>Entwicklerteam</span>
            </a>
            <a href="#">
                <img src="../../../assets/img/hashtag-icon.svg" alt="hashtag-icon">
                <span>Brainstorming</span>
            </a>
        </div>
        <div (mouseenter)="changeImageCirclePlus(true)" (mouseleave)="changeImageCirclePlus(false)" class="addChannel">
            <img [src]="imageSrcCirclePlus" alt="add-channel">
            <span>Channel hinzufügen</span>
        </div>
    </div>

    <div class="areaContainer">
        <div class="dmHeader">
            <img src="../../../assets/img/arrow_drop_down_down.svg" alt="drop-down-arrow">
            <div class="iconAndH3">
                <img src="../../../assets/img/account_circle.svg" alt="account-icon">
                <h3>Direktnachrichten</h3>
            </div>
        </div>
        <div class="contentList">
            <a href="#">
                <div class="profileAndOnlineCircleImg">
                    <img class="avatarImg" src="../../../assets/img/avatars/avatar-3.svg" alt="hashtag-icon">
                    <img class="onlineStatusImg" src="../../../assets/img/green-online-circle.svg" alt="online-status">
                </div>
                <span>Robin Westmeier</span>
            </a>
            <a href="#">
                <div class="profileAndOnlineCircleImg">
                    <img class="avatarImg" src="../../../assets/img/avatars/avatar-4.svg" alt="hashtag-icon">
                    <img class="onlineStatusImg" src="../../../assets/img/green-online-circle.svg" alt="online-status">
                </div>
                <span>Laurin Herteux</span>
            </a>
            <a href="#">
                <div class="profileAndOnlineCircleImg">
                    <img class="avatarImg" src="../../../assets/img/avatars/avatar-5.svg" alt="hashtag-icon">
                    <img class="onlineStatusImg" src="../../../assets/img/green-online-circle.svg" alt="online-status">
                </div>
                <span>Marcel Luwinski</span>
            </a>
            <a href="#">
                <div class="profileAndOnlineCircleImg">
                    <img class="avatarImg" src="../../../assets/img/avatars/avatar-4.svg" alt="hashtag-icon">
                    <img class="onlineStatusImg" src="../../../assets/img/green-online-circle.svg" alt="online-status">
                </div>
                <span>Laurin Herteux</span>
            </a>
        </div>
    </div>

    <img class="editFAB" src="../../../assets/img/new_msg_fab.svg" alt="edit-button">

    <div class="toggleMenuButton">
        <h3>Workspace-Menü schließen</h3>
        <img src="../../../assets/img/hide-nav.png">
    </div>
</div>
</nav>
