@import "variables";

@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-VariableFont_wght.ttf");
  font-style: normal;
}

* {
  transition: smooth;
  scroll-behavior: smooth;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 18px;
}

body{
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

a {
  text-decoration: none;
}