@import "variables";

@font-face {
  font-family: "Nunito";
  src: url("./assets/font/Nunito-VariableFont_wght.ttf");
  font-style: normal;
}

* {
  transition: smooth;
  scroll-behavior: smooth;
  font-family: "Nunito";
  font-weight: 400;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}

.dNone {
  display: none;
}

//////////////////////////////////////////// font-sizes ////////////////////////////////////////////

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

p, span {
  font-size: 16px;
}

.subText {
  font-size: 12px;
}