@import "../../../../../variables.scss";

.optionsBubble {
  position: relative;
  background-color: white;
  border-radius: 20px 20px 20px 0;
  padding: 4px 10px 4px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.optionsBubbleOwnMsg {
  position: relative;
  background-color: white;
  border-radius: 20px 20px 0 20px;
  padding: 4px 10px 4px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.optionsBubbleContent {
  display: flex;
  align-items: center;
  gap: 2px;
}

.options-bubble svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.options-bubble span {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s ease-in-out;
}

.options-bubble span:hover {
  transform: scale(1.2);
}

.svgContainer {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    background-color: $background-color;

    .changeColor {
      path {
        fill: $first-color;
      }
    }
  }
}

.messageOptionsPopUp {
  position: absolute;
  bottom: -90px;
  right: -150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 0 20px 20px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  span {
    &:hover {
      color: $first-color;
    }
  }
}

.editMessageContainer {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
