@import '../../../../variables.scss';

.wrapper {
    padding: 10px 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 98;
    background-color: white;
}

.imgAndH3AndArrow {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 20px;
    border-radius: 20px;
}

.imgHashtag {
    width: 24px;
    height: 24px;
}

@media(min-width: 1025px) {
    .wrapper {
        padding: 16px 32px 16px 24px;
    }

    .imgAndH3AndArrow {
        cursor: pointer;

        &:hover {
            background-color: $background-color;

            h3 {
                color: $second-color;
            }

            svg path {
                fill: $first-color;
            }
        }
    }

    .personAddImgContainer {
        &:hover {
            cursor: pointer;
            
            svg path {
                fill: $first-color;
            }
        }
    }
}