.wrapper {
    padding: 10px 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 98;
    background-color: white;
}

.imgAndH3AndArrow {
    display: flex;
    align-items: center;
    gap: 8px;
}