@import "../../variables.scss";

.wrapper {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  height: 56px;
  margin: 64px 0 0 0;
}

.card {
  padding: 35px 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  margin: 32px 16px;
  max-width: 606px;
}

@media (min-width: 1250px) {
  .wrapper {
    height: 100vh;
  }

  .logo {
    position: absolute;
    top: 60px;
    left: 60px;
    margin: 0;
  }
}
