<div class="wrapper">
  <div class="overlay"></div>
  <div class="logoContainer" [@logoAppear]="logoState" [@moveToCorner]="containerPosition">
    <img id="logo" src="../../assets/img/logo-no-text.svg" alt="logo" [@slideLogo]="logoSlideState" style="opacity: 0;">
    <img id="textLogo" src="../../assets/img/text-logo.svg" alt="text logo"
         [@slideText]="textLogoState"
         [ngClass]="textLogoClass"
         [@invertTextLogo]="textLogoInvertState"
         style="opacity: 0;">
  </div>
  <router-outlet></router-outlet>
</div>
